.Header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	background-color: tomato;
	height: 100px;
	border: solid;
	padding: 20px 5vw 0 5vh;
}

.Header div {

	display: flex;
	align-items: center;
	height: 50px;
	border-radius: 20px;
	background-color: brown;
	border: solid;
	overflow: hidden;
	position: relative;
	/* padding: 0 10px 0 10px; */
}

.Workflow {
	padding: 0 0 0 10px;
	max-width: 35vh;
	min-width: 25vh;
}

.Address {
	padding: 0 10px 0 10px;
	margin-left: auto;
	max-width: 45vw;
}

p {
	width: 100%;
	padding: 0 1vw 0 1vw;
	text-align: center;
}

button {
	position: absolute;
	border-radius: 20px;
	right: 0;
	height: 50px;
	width: 40%;
	cursor: pointer;
}
